<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>
<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>
<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>
<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>
<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>