<div>
  <div>image</div>
  <div>
    <h2>Username</h2>
    <p>Number of posts:x</p>
  </div>
</div>
<div>
  <h2>Bio</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor,
    aspernatur, laboriosam alias praesentium voluptatem vel quidem quaerat
    aliquam enim harum corrupti. Officiis animi dicta asperiores accusantium,
    ducimus voluptatibus architecto?s
  </p>
</div>
<div>
  <h2>Post #1</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos incidunt
    assumenda dolore eos architecto est laboriosam id quo. Perferendis, non.
  </p>
  <span>Comments:x,likes:y</span>
</div>
<div>
  <h2>Post #2</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos incidunt
    assumenda dolore eos architescto est laboriosam id quo. Perferendis, non.
  </p>
  <span>Comments:x,likes:y</span>
</div>
<div>
  <h2>Post #3</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos incidunt
    assumenda dolore eos architecto est laboriosam id quo. Perferendis, non.
  </p>
  <span>Comments:x,likes:y</span>
</div>
