<div>
    <div>image</div>
    <div>
        <h2>Username</h2>
        <p>Number of posts:x</p>
    </div>
</div>
<div>
  <h2>Post #1</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos incidunt
    assumenda dolore eos architecto est laboriosam id quo. Perferendis, non.
  </p>
  <span>Comments:x,likes:y</span>
</div>
<ul>
    <li>Username:Comment 1</li>
    <li>Username:Comment 2</li>
    <li>Username:Comment 3</li>
    <li>Username:Comment 4</li>
    <li>Username:Comment 5</li>
</ul>
<div>
  <h2>Post #2</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos incidunt
    assumenda dolore eos architecto est laboriosam id quo. Perferendis, non.
  </p>
  <span>Comments:x,likes:y</span>
</div>
<ul>
    <li>Username:Comment 1</li>
    <li>Username:Comment 2</li>
    <li>Username:Comment 3</li>
    <li>Username:Comment 4</li>
    <li>Username:Comment 5</li>
</ul>