<div>
  <div>
    <h2>Post #1 by username</h2>
    <span>Comments:x, Likes:y</span>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum mollitia
    molestiae sed corrupti odit consequatur nobis voluptates amet veniam,
    maiores facere minus sapiente pariatur aliquid minima quos vero consequuntur
    quasi officiis veritatis suscipit commodi modi, recusandae excepturi?
    Voluptate, dignissimos natus? A, dicta repudiandae cum cupiditate quis
    voluptates quas incidunt expedita atque recusandae tenetur nihil soluta
    ducimus, odit est quasi saepe aspernatur velit! Ullam perspiciatis beatae
    sed at autem veniam doloribus sequi labore hic, amet iure, tempore
    praesentium aperiam voluptatem. Ab, esse aliquam! Quidem magnam debitis
    nulla, unde nam saepe harum ipsum totam! Cumque incidunt quasi, id excepturi
    maxime officiis dignissimos.
  </p>
</div>
<ul>
  <li>Username:Comment 1</li>
  <li>Username:Comment 2</li>
  <li>Username:Comment 3</li>
  <li>Username:Comment 4</li>
  <li>Username:Comment 5</li>
  <li>Username:Comment 6</li>
  <li>Username:Comment 7</li>
  <li>Username:Comment 8</li>
  <li>Username:Comment 9</li>
  <li>Username:Comment 10</li>
</ul>
